button {
    position: relative;
    overflow: hidden; /* Đảm bảo hiệu ứng không tràn ra ngoài */
    
}
  
button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #FE330A;
    z-index: 0; /* Đặt phía sau nội dung */
    transition: height 0.5s; /* Tốc độ và easing có thể tuỳ chỉnh */
}
  
button:hover::after {
    height: 100%;
    transition: height 0.5s
}
  
button span {
    position: relative; /*Muốn bật z-index thì position phải khác static nên đặt là relative để nó vừa ko làm thay đổi chỗ vừa khác static*/
    z-index: 1; /* Đặt chữ phía trên hiệu ứng */
}
  